/* body {
  width: 100%;
  height: 100%;
} */

.home-container {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.home-img {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home-img > img {
  /* object-fit: cover; */
}
