.cara-container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-div {
  width: 70%;
  height: 70%;
  overflow: hidden;
}
